html,
body,
#root {
  width: 100%;
  min-height: 100%;
}

body {
  overflow-x: hidden;
}

button,
a {
  -webkit-tap-highlight-color: transparent;
}

::selection {
  color: #f5f1ea;
  background: #b76f4f;
}